[submodule "repositories/XPlatformer"]
	path = repositories/XPlatformer
	url = git@gitlab.com:jrbeverly/XPlatformer.git
[submodule "repositories/XSamples"]
	path = repositories/XSamples
	url = git@gitlab.com:jrbeverly/XSamples.git
[submodule "repositories/XGameLib"]
	path = repositories/XGameLib
	url = git@gitlab.com:jrbeverly/XGameLib.git
[submodule "repositories/vagrant-desktop-x11"]
	path = repositories/vagrant-desktop-x11
	url = git@gitlab.com:jrbeverly/vagrant-desktop-x11.git
